@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    position: relative;
    font-family: 'Oxygen', sans-serif;
    color: #000;
}

.row {
    display: flex;
}

html {
    position: relative;
    min-height: 100%;
}

/*----------------------------------------------------NavBar Styling*/

.navbar {
    background-color: #fa0606;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Oxygen', sans-serif;
    color: white;
}

.btn-nav {
    color: white;
    border-color: white;
}

#logo {
    height: 14rem;
    width: 14rem;
    padding-bottom: 15px;
}

.navlogo {
    max-width: 100px;
    max-height: 100px;
}

/*----------------------------------------------------Locations Page Styling*/

.btn-landing {
    font-family: 'Oxygen', sans-serif;
    background-color: #fa0606;
    color: white;
}

.btn-loc {
    font-family: 'Oxygen', sans-serif;
    background-color: #fa0606;
    color: white;
    margin-bottom: 10px;
}

.page-footer {
    font-family: 'Oxygen', sans-serif;
    background-color: #fa0606ee;
    color: white;
    padding-bottom: 25px;
}

.town-img {
  height: 13rem;
  width: 13rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

#timer {
 position: absolute;
 margin-top: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container-timer {
    position: relative;
    text-align: center;
    color: #fa0606;
}

.maid-style {
    opacity: 30%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*----------------------------------------------------Town Page Styling*/

.rest-img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    margin-top: 10px;
}

.accordion {
    background-color: #fa0606;
    font-family: 'Oxygen', sans-serif;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

@media (min-width: 768px) and (max-width: 1023px) {
   .accordion {
       width: 80%;
   }

   .panel {
       width: 80%;
       padding-left: 50px;    
   }
}

.accordion:hover {
    background-color: rgb(114, 49, 49);
}

.panel {
    padding: 0 18px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\021e9';
    font-size: 16px;
    color: white;
    float: right;
    margin-left: 5px;
}


.btn-book {
    font-family: 'Oxygen', sans-serif;
    background: #fa0606;
    color: white;
    margin-top: 5px;
}

.btn-book:hover {
    font-family: 'Oxygen', sans-serif;
    border-color: #fa0606;
    color: #fa0606;
    background: white;
}

.btn-sign {
    font-family: 'Oxygen', sans-serif;
    background: #fa0606;
    color: white;
    margin-top: 10px;
}

.btn-sign:hover {
    font-family: 'Oxygen', sans-serif;
    border-color: #fa0606;
    color: #fa0606;
    background: white;
}

.btn-book a {
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: white;
}

.btn-book a:hover {
    font-family: 'Oxygen', sans-serif;
    color: #fa0606;
}

#map {
    width: 100%;
    height: 500px;
}

hr {
    background-color:#fa0606;
    border: 0 none;
    height: 1px;
}

.panel p {
    text-align: justify;
    margin-top: 5px;
}

.panel a {
    text-decoration: none;
     color:black;
}

.panel a:hover {
    color: #fa0606;
}

/*----------------------------------------------------Filter Pages Styling*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
}

img {
    cursor: pointer;
}

.modal-content {
    font-family: 'Oxygen', sans-serif;
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    animation-name: animateup;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animateup {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    font-family: 'Oxygen', sans-serif;
    padding: 2px 16px;
    background-color: #fa0606;
    color: white;
}

.modal-header span {
    font-family: 'Oxygen', sans-serif;
    color: white;
}

.modal-body {
    font-family: 'Oxygen', sans-serif;
    padding: 2px 16px;
    color: #fa0606;
}

.modal-footer {
    font-family: 'Oxygen', sans-serif;
    padding: 2px 16px;
    background-color: #fa0606;
    color: white;
}

.modal-button {
    font-family: 'Oxygen', sans-serif;
    background-color: #fa0606;
    color: white;
    border-radius: 15%;
    border-color: white;
}

.btn-modal-footer {
    font-family: 'Oxygen', sans-serif;
    color: white;
    border-color: white;
}

.btn-modal-footer:hover {
    font-family: 'Oxygen', sans-serif;
    color: #fa0606;
    background: white;
    border-color: #fa0606;
}

.btn-modal-footer a {
    font-family: 'Oxygen', sans-serif;
    color: white;
    text-decoration: none;
}

.modal-body span {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.filter-img {
    height: 10rem;
    width: 12rem;
    margin-bottom: 20px;
}

.filter-img {
    cursor: pointer;
}

/*----------------------------------------------------Footer Styling*/

.contact-heading {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #fa0606;
    color: white;
}

.social-links li a i {
    width: 36px;
    height: 36px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 24px;
    line-height: 7px;
    text-align: center;
    color: #fa0606;
    background: white;
}

.social-links li a i:hover {
    background:#fa0606;
    color:white;
}

.contact p {
    list-style-type: none;
    padding-right: 20px;
    font-size: 12px;
}

.email-detail a {
    color: #fff;
    text-decoration: none;
}

.email-detail a:hover {
    color:rgb(114, 49, 49);
}

.loc-text {
    font-family: "Robtoto", sans-serif;
}

.h1-loc {
    margin-top: 10px;
}

/*----------------------------------------------------Back to Top Button*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border-radius: 15px;
  outline: #fa0606;
  background-color: #fa0606;
  border-color: white;
  color: white;
  margin: 10px;
  cursor: pointer;
  padding: 15px;
}

#myBtn:hover {
  background-color: #fa0606;
  color: #fff;
  border-color: #fff;
}


.timer {
  
  height: 15rem;
  width: 15rem;
  position: relative;
  color: #fa0606;
  font-family: "Oxygen",sans-serif;
    font-size: 12px;
}