* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

html {
    position: relative;
    min-height: 100%;
}

.navbar {
    background-color: red;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.btn-nav {
    color: white;
    border-color: white;
}

#logo {
    height: 14rem;
    width: 14rem;
    padding-bottom: 15px;
}

.btn-landing {
    background-color: red;
    color: white;
}

.page-footer {
    background-color: red;
    color: white;
}

.town-img {
  height: 15rem;
  width: 15rem;
}

.rest-card-img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
}

.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animateup;
    -webkit-animation-duration: 0.4s;
    animation-name: animateup;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animateup {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: red;
    color: white;
}

.modal-body {
    padding: 2p 16px;
    color: red;
}

.modal-footer {
    padding: 2px 16px;
    background-color: red;
    color: white;
}

.modal-button {
    background-color: red;
    color: white;
    border-radius: 15%;
    border-color: white;
}

.btn-modal-footer {
    color: white;
    border-color: white;
}

.modal-body span {
    color: black;
}

#map {
    width: 100%;
    height: 500px;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#floating-panel {
  margin-left: -52px;
}

#floating-panel {
    margin-left: -52px;
}

.filter-img {
 
    height: 10rem;
    width: 12rem;
    margin-bottom: 20px;
}

.accordion {
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: rgb(116, 56, 56);
}

.panel {
    padding: 0 18px;
    background-color: white;
    color: red;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795';
    font-size: 16px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\2796';
}

.btn-book {
    margin-top: 10px;
}

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}
