* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

html {
    position: relative
    min-height: 100%;
}

.navbar {
    background-color: red;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.btn-nav {
    color: white;
    border-color: white;
}

#logo {
    height: 25rem;
    width: 25rem;
}

.btn-landing {
    background-color: red;
    color: white;
}

.page-footer {
    background-color: red;
    color: white;
}

.town-img {
  height: 15rem;
  width: 15rem;
}

.rest-card-img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}